<%= form_tag("/add", method: :get) do %>
  <div class = 'container'>
    <div class = 'well'>
      Choose a file to upload
      <%= form_tag(multipart: true) do %>
        <%= file_field_tag 'upload', accept: 'text/xml', multipart: true %>
      <% end %>
    </div>

    <div class = 'well'>
      <p>Choose where to store<p>
      <p><%= @currentDirectory %><p>
      <%= render "browse/browser" %>
    </div>

    <div class = 'well'>
      Add to database
      <%= submit_tag "Add new letter", class: "btn btn-default" %>
    </div>
  </div>
<% end %>
