<queries>
  <div class='container'>
    <div class="btn-group btn-group-justified" role="group">
      <div class="btn-group" role="group">
        <%= link_to("My Searches", { action: "index", option: 'current' }, class: "btn btn-default") %>
      </div>
      <div class="btn-group" role="group">
        <%= link_to("All Searches (by time)", { action: "index", option: 'all-time' }, class: "btn btn-default") %>
      </div>
      <div class="btn-group" role="group">
        <%= link_to("All Searches (by user)", { action: "index", option: 'all-user' }, class: "btn btn-default") %>
      </div>
    </div>

    <div>
      <% if !params[:option] || params[:option] == 'current' %>
      <% if signed_in? %>
      <div class='well'>
        <h2 style="text-align: center;">
          <%= "Showing searches for #{@username}" %>
        </h2>
        <table class="table">
          <thead>
            <tr>
              <th>Date</th>
              <th>Time</th>
              <th>Search</th>
            </tr>
          </thead>
          <tbody>
            <% current_user.queries.reverse.each do |q| %>
            <tr>
              <td><%= q.created_at.to_date %></td>
              <td><%= q.created_at.to_s(:time) %></td>
              <td><%= q.content %></td>
            </tr>
            <% end %>
          </tbody>
        </table>

      <% else %>
        You are not logged in, to see your searches please log in
        <% end %>

        <% elsif params[:option] == 'all-time' %>
        <div class='well'>
          <table class="table">
              <thead>
                <tr>
                  <th>Date</th>
                  <th>Time</th>
                  <th>Search</th>
                </tr>
              </thead>
              <tbody>
                <% @queries.reverse.each do |q| %>
                <tr>
                  <td><%= q.created_at.to_date %></td>
                  <td><%= q.created_at.to_s(:time) %></td>
                  <td><%= q.content %></td>
                </tr>
                <% end %>
              </div>

            <% elsif params[:option] == 'all-user' %>
            <div class='well'>
              <ul>
                <% @users.each do |u| %>
                <h4 style="text-align: center;">
                  <%='Searches by #{u.name}' %></h4>
                    <table class="table">
                    <thead>
                      <tr>
                        <th>Date</th>
                        <th>Time</th>
                        <th>Search</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% u.queries.reverse.each do |q| %>
                      <tr>
                        <td><%= q.created_at.to_date %></td>
                        <td><%= q.created_at.to_s(:time) %></td>
                        <td><%= q.content %></td>
                      </tr>
                      <% end %>
                    <% end %>
                  </ul>
                </div>
                <% end %>
              </div>
            </div>
          </queries>
