<search>
  <%= form_tag("/search", method: :get, id: "browse_bar") do %>
  <%= hidden_field_tag :parent, @parentID if @parentID %>
  <div class="panel-body">
    <div class="col-lg-6">
      <div class="input-group">
        <div id='basic_search' class="expand">
          <%= text_field_tag "query", nil, {class: "form-control", placeholder: "Search ..."} %>
        </div>
        <div class='collapse' id='xQuery_search'>
          <%= render 'xQueryForm' %>
        </div>
        <span class="input-group-btn">
          <%= submit_tag "Nested Search", class: "btn btn-default" if params[:query] %>
          <%= submit_tag "New Search", class: "btn btn-default" %>
        </span>
      </div>
    </div>

    <div class="btn-group" role="group">
      <%= radio_button_tag(:searchType, "Text", true) %>
      <%= label_tag(:text, "Text") %>
      <%= radio_button_tag(:searchType, "xPath")  %>
      <%= label_tag(:xPath, "xPath") %>
      <%= radio_button_tag(:searchType, "xQuery")  %>
      <%= label_tag(:xQuery, "xQuery") %>
  </div>
  <% end %>
  <% byebug %>

  <% if @data && !@data.empty? %>
  <div class='container'>
    <% if @data && @basexQuery && !@basexQuery.empty?  %>
      <%= "Showing #{@resultsCount} results for" %>
      <% display = "" %>
      <% @queries.each_slice(2) do |q, search| %>
        <% display << "'#{q}' and " %>
      <% end %>
      <% 4.times do display.chop! end %>
      <%= display %>
      <%= "(#{@searchTime} seconds)" %>
    <% end %>
    <%= "There are no results for '#{params[:query]}'" if @data && (!@basexQuery || @basexQuery.empty?) %>
  </div>
  <% end %>


  <div class="panel-body">
    <%= render "layouts/letter_display" if @file %>
    <% if @basexQuery && !@basexQuery.empty? && !@file %>
      <%= button_to "Download Results", {query: @data, searchType: params[:searchType], mode: 'download'}, class: 'btn btn-default' %>
      <div class="well">
        <ul class="list-group">
          <% @basexQuery.each_slice(4) do |title, path, author, excerpt| %>
            <li class="list-group-item">
              <div>
                <%= link_to "#{title}", path: path, mode: 'display' %>
                <%= "#{author}" %>
              </div>
              <div>
                <%= "\n#{excerpt}" %>
              </div>
              <div class='path'>
                <%= "#{path}" %>
              </div>
            </li>
          <% end %>
        </ul>
      <% end %>
    </div>
  </div>

  <script>
    $('#browse_bar input').on('change', function () {
      var type = $('input[name=searchType]:checked', '#browse_bar').val();
      if (type == "Text" || type == 'xPath') {
        $('#basic_search').attr("class", "expand");
        $('#xQuery_search').attr("class", "collapse");
      } else if (type == "xQuery") {
        $('#basic_search').attr("class", "collapse");
        $('#xQuery_search').attr("class", "expand");
      }
    });
  </script>
</search>
