<%= form_tag("/search", method: :get, id: "browse_bar") do %>
<div class="panel-body">
  <div class="col-lg-6">
    <div class="input-group">
      <%= text_field_tag "query", nil, {class: "form-control", placeholder: "For XQuery searches, the format is: for $file in collection('Colenso_TEIs')  ... Your query here ...  return $file"} %>
      <span class="input-group-btn">
        <%= submit_tag "Nested Search", class: "btn btn-default" if params[:query] %>
        <%= submit_tag "New Search", class: "btn btn-default" %>
      </span>
    </div>
  </div>

  <% if !params[:searchType] || params[:searchType] == 'Text' %>
    <%= radio_button_tag(:searchType, "Text", true) %>
  <% else %>
    <%= radio_button_tag(:searchType, "Text") %>
  <% end %>
  <%= label_tag(:text, "Text") %>

  <% if params[:searchType] && params[:searchType] == 'xPath' %>
    <%= radio_button_tag(:searchType, "xPath", true) %>
  <% else %>
    <%= radio_button_tag(:searchType, "xPath") %>
  <% end %>
  <%= label_tag(:xPath, "xPath") %>

  <% if params[:searchType] && params[:searchType] == 'xQuery' %>
    <%= radio_button_tag(:searchType, "xQuery", true) %>
  <% else %>
    <%= radio_button_tag(:searchType, "xPath") %>
  <% end %>
  <%= label_tag(:xPath, "xQuery") %>

  <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
</div>
<% end %>

<% if params[:query] && !params[:query].empty? %>
  <div class = 'container'>
    <%= "Showing #{@resultsCount} results for '#{params[:query]}' (#{@searchTime} seconds)" if params[:query] && !@basexQuery.empty?  %>
    <%= "There are no results for '#{params[:query]}'" if params[:query] && @basexQuery.empty? %>
  </div>

  <div class="panel-body">
    <%= render "layouts/letter_display" if @file %>
    <% if @basexQuery && !@basexQuery.empty? && !@file %>
    <%= button_to "Download Results", query: params[:query], searchType: params[:searchType], mode: 'download' %>
    <div class="well">
      <ul class="list-group">
        <% @basexQuery.each_slice(4) do |title, path, author, excerpt| %>
        <li class="list-group-item">
          <%= link_to "#{title}", path: path, mode: 'display' %>
            <%= "#{path}" %>
          <%= "#{author}" %>
          <%= "#{excerpt}" %>
          </li>
        <% end %>
      </ul>
      <% end %>
    </div>
  </div>
<% end %>
