<search>
  <%= form_tag("/search", method: :get, id: "browse_bar") do %>
  <%= hidden_field_tag :parent, @parentID if @parentID %>
  <div class="panel-body">
    <div class="col-lg-6">
      <div class="input-group">
        <div id='basic_search' class="expand">
          <%= text_field_tag "query", nil, {class: "form-control", placeholder: "Search ..."} %>
        </div>
        <div class='collapse' id='xQuery_search'>
          <%= render 'xQueryForm' %>
        </div>
        <span class="input-group-btn">
          <%= submit_tag "Nested Search", class: "btn btn-default" if params[:query] %>
          <%= submit_tag "New Search", class: "btn btn-default" %>
        </span>
      </div>
    </div>

    <div class="btn-group" role="group">
      <% if !params[:searchType] || params[:searchType] == 'Text' %>
      <%= radio_button_tag(:searchType, "Text", true) %>
    <% else %>
      <%= radio_button_tag(:searchType, "Text") %>
      <% end %>
      <%= label_tag(:text, "Text") %>

      <% if params[:searchType] && params[:searchType] == 'xPath' %>
      <%= radio_button_tag(:searchType, "xPath", true) %>
    <% else %>
      <%= radio_button_tag(:searchType, "xPath") %>
      <% end %>
      <%= label_tag(:xPath, "xPath") %>

      <% if params[:searchType] && params[:searchType] == 'xQuery' %>
      <%= radio_button_tag(:searchType, "xQuery", true) %>
    <% else %>
      <%= radio_button_tag(:searchType, "xPath") %>
      <% end %>
      <%= label_tag(:xPath, "xQuery") %>
    </div>

    <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
  </div>
  <% end %>

  <% if params[:query] && !params[:query].empty? %>
  <div class='container'>
    <% if params[:query] && @basexQuery && !@basexQuery.empty?  %>
    <%= "Showing #{@resultsCount} results for" %>
    <% @queries.each do |q| %>
    <%= q == @queries.last ? "'#{q}'" : "'#{q}' and " %>
    <% end %>
    <%= "(#{@searchTime} seconds)" %>
    <% end %>
    <%= "There are no results for '#{params[:query]}'" if params[:query] && (!@basexQuery || @basexQuery.empty?) %>
  </div>

  <div class="panel-body">
    <%= render "layouts/letter_display" if @file %>
    <% if @basexQuery && !@basexQuery.empty? && !@file %>
    <%= button_to "Download Results", {query: params[:query], searchType: params[:searchType], mode: 'download'}, class: 'btn btn-default' %>
    <div class="well">
      <ul class="list-group">
        <% @basexQuery.each_slice(4) do |title, path, author, excerpt| %>
        <li class="list-group-item">
          <div>
            <%= link_to "#{title}", path: path, mode: 'display' %>
            <%= "#{author}" %>
          </div>
          <div>
            <%= "\n#{excerpt}" %>
          </div>
          <div class='path'>
            <%= "#{path}" %>
          </div>
        </li>
        <% end %>
      </ul>
      <% end %>
    </div>
  </div>
  <% end %>

  <script>
    $('#browse_bar input').on('change', function () {
      var type = $('input[name=searchType]:checked', '#browse_bar').val();
      if (type == "Text" || type == 'xPath') {
        $('#basic_search').attr("class", "expand");
        $('#xQuery_search').attr("class", "collapse");
      } else if (type == "xQuery") {
        $('#basic_search').attr("class", "collapse");
        $('#xQuery_search').attr("class", "expand");
      }
    });
  </script>
</search>
