<%= form_tag("/search", method: :get, id: "browse_bar") do %>
  <div class="panel-body">
    <div class="col-lg-6">
      <div class="input-group">
        <%= text_field_tag "query", nil, {class: "form-control", placeholder: "Search for..."} %>
        <span class="input-group-btn">
          <%= submit_tag "Search", class: "btn btn-default" %>
        </span>
      </div><!-- /input-group -->
    </div>


    <%= radio_button_tag(:searchType, "Text", true) %>
    <%= label_tag(:text, "Text") %>
    <%= radio_button_tag(:searchType, "xQuery")  %>
    <%= label_tag(:xQuery, "xQuery") %>

    <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
  </div>
<% end %>

<div class="panel-body">
  <div class="well">
    <% if @basexQuery %>
      <%@basexQuery.each do |result|%>
        <li><%= result %></li>
      <% end %>
    <% end %>
  </div>
</div>
